.sidebar-menu{
  background: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 320px;
  position: absolute;
  left: 0;
  top: 0;
  transition: .3s;

  @include tablet-above{
    box-shadow: none;
  }
  @include desktop-above{
    min-height: 920px;
  }

  &--show{
    box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2), -2px 0 4px 0 rgba(69, 79, 126, 0.02);
    transform: translateX(0);
    z-index: 100;
  }

  &__close-button{
    @include desktop-above{
      display: none;
    }
  }

  &__sidebar-navigation{
    margin-top: 24px;
  }

  &__sidebar-footer{
    margin-top: auto;
  }
}
